@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    
    
    
    background: beige;
    padding: 30px;
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.centrar{
  text-align: center;
}
/* iniciar sesion y registro *//* estilos del login */
* {
  border-radius: 15px;
}
.login{
  display: none;
}


.container-todo {

  height: 100vh;
  width: 100vw;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__login__register {

  width: 60%;
  height: 70%;
  position: relative;
  justify-content: start;

}

.caja-trasera {
  position: absolute;
  display: flex;
  background-color: rgba(91, 91, 99, 0.883);
  width: 100%;
  height: 100%;
  justify-content: space-around;

}

.caja-trasera__login {
  opacity: 01;
}

.caja-trasera__login-register {
  color: rgb(242, 242, 242);
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.caja-trasera__login-register button,
.caja-trasera__register h3 {
  background-color: rgb(149, 150, 241);
  border: none;
  padding: 7px;
  cursor: pointer;
}

.caja-trasera__login-register h1,
h2 {
  margin: 20px 0;
}

.caja-trasera__login-register button:hover {
  background-color: rgb(103, 105, 227);
  color: aliceblue;
}

.caja-trasera__register h3:hover {
  background-color: rgb(108, 109, 197);
  color: rgb(252, 234, 234);
}

.formularios {
  position: absolute;

  width: 45%;
  height: 110%;
  margin-left: 20px;
  transition: left 500ms;
}

.container__login-register {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container__register {
  display: none;
}

.cajas {
  background-color: rgb(67, 194, 222);
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.cajas h4 {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.cajas input {
  width: 90%;
  margin: 10px;
  text-align: center;
}

.cajas__registrarse {
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.cajas h5 {
  cursor: pointer;

}

.cajas h5 {
  padding: 3px;
  color: rgb(20, 20, 184);
  margin-top: 5px;
  text-decoration: underline;
}

.cajas h5:hover {

  color: #fff;
}

.cajas h1 {
  width: auto;

}

@media screen and (max-width: 566px) {
  .container-todo {

      height: 95vh;
      width: auto;
      overflow: hidden;
  }

  .display {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .container__login__register {

      width: 100%;
      height: 100%;
      position: relative;
      justify-content: start;

  }

  .caja-trasera {
      display: flex;
      position: absolute;
      background-color: rgba(12, 17, 112, 0.883);
      width: 100%;
      height: 100%;
      justify-content: space-around;
      top: 47%;

  }

  .caja-trasera__login {
      opacity: 0;
  }

  .caja-trasera__login-register {
      color: rgb(242, 242, 242);
      flex-direction: column;
      text-align: center;
      justify-content: center;
  }

  .caja-trasera__login-register button,
  .caja-trasera__register h3 {
      background-color: rgb(149, 150, 241);
      border: none;
      padding: 7px;
      cursor: pointer;
  }

  .caja-trasera__login-register h1,
  h2 {
      margin: 20px 0;
  }

  .caja-trasera__login-register button:hover {
      background-color: rgb(103, 105, 227);
      color: aliceblue;
  }

  .caja-trasera__register h3:hover {
      background-color: rgb(108, 109, 197);
      color: rgb(252, 234, 234);
  }

  .formularios {
      position: absolute;

      width: 95%;
      height: 50%;
      transition: bottom 500ms;
      top: 0%;

      margin: 0 2.5%;


  }

  .container__login-register {
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .container__register {
      display: none;
  }

  .cajas {
      background-color: rgb(67, 194, 222);
      width: 100%;
      height: 100%;
      flex-direction: column;
      text-align: center;
  }

  .cajas input {
      width: 90%;
      margin: 10px;
      text-align: center;
  }

  .cajas__registrarse {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  button,
  .cajas h5 {
      cursor: pointer;

  }

  .cajas h5 {
      padding: 3px;
      color: rgb(20, 20, 184);
      margin-top: 5px;
      text-decoration: underline;
  }

  .cajas h5:hover {

      color: #fff;
  }

  .cajas h1 {
      width: auto;

  }
}

/* aca termina los estilos de la solapa de incio de sesion y registrar sesion */








header{

  display: flex;
  height: 10vh;
}
header .col-5{
  text-align: center;
  
}
header .col-6{
  text-align: start;
}
header .col-5 img{
  height: 100%;
  width: 40%;
   
}
.me-auto{
  
 display: flex;
 justify-content: center;
 align-items:center;
}
.articulos{
  display: flex;
  justify-content: center;
}
.articulos .row{
  
  width: 70vw;
  display: flex;
  justify-content: center;

 
}
.btn{
  width: 40%;
  background-color: beige;
  padding: 1%;
  margin: 1% 0%;
  border: 1px solid rgb(156, 156, 156);
}
.btn:hover{
  background-color: rgb(212, 212, 175);
  border: 1px solid black;
  box-shadow: 10px 5px 5px black;
  
}
.btn_articulos{
  width: 40%;
  background-color: beige;
  padding: 1%;
  margin: 1% 0%;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
}
.btn_articulos:hover{
  background-color: rgb(212, 212, 175);
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  
}
.ubicacion_y_redes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.ubicacion_y_redes i{
  font-size: xx-large;
}
.ubicacion_y_redes .bi-telephone-fill{
  font-size: small;
}
.formulario_de_contacto{
  display: flex;
  justify-content: start;
}
.formulario{
  height: 40vh;
  width: 70%;
  text-align: start;

}


.form {

    margin-left: 0.09%;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: beige;
    width: 100%;
    text-align: center;
  }
  .img_carousel{
  height: 50vh;
  width: fit-content;
}
.carousel{
  text-align: center;
}
  

  input[type="text"],
  input[type="email"],
  select,
  textarea {
  
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
 
    width: 100%;
    padding: 1rem 2rem;
  }
 
  input[type="text"]:hover,[type="email"]:hover,textarea:hover{
    box-shadow: 2px 2px 15px;
  }
  .contacto{
    box-shadow: 8px 8px 10px;
    margin: 0 200px;
    padding: 2%;
  }

  
  
  footer {
    background-color: #000000;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 0%;
  }

