* {
    font-family: 'Playfair Display', serif;
    border-radius: 0;
}

#navegador {
    display: flex;
}


section.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section#articulos {
    margin-bottom: 4rem;
}

header {
    position: sticky;
    width: 100%;
    z-index: 1;
    margin: auto;
    background-color: #f3edc9;
    border-radius: 0;
}

h1#main-title {
    margin-top: 6rem;
    text-align: center;
}

b {
    font-weight: 600;
}

.btn {
    color: rgb(19, 18, 18);
}

.btn:hover {
    color: rgb(0, 0, 0);
}

/* Carrito */
    #chart-result {
        
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .chart-product {
        display: flex;
        justify-content: space-between;
        position: relative;
        text-align: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: white;
        border-bottom: 1px rgba(128, 128, 128, 0.152) solid;
        height: fit-content;
    }

    .chart-img {
        width: 5rem;
        padding: 0.3rem;
    }
    .chart-title {
        width: 180px;
        padding: 1em;
        margin: 0;
    }
    .chart-price {
        padding: 1em;
        font-size: 1rem;
        margin: 0;
    }
    .chart-qty {
        display: flex;
    }
    .chart-qty p{
        display: flex;
        padding: 0.2rem;
        margin: 0;
    }
    .chart-qty button {
        padding: 0.3em;
    }

    .chart-remove {
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        
        right: 0;
        top: 0;
        
        font-size: 0.6rem;
        width: 10px;
        padding: 5px 10px;
        
    }

    .columna-carrito {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        
    }

    .empty-chart {
        width: 100%;
    }

    .img-cart {
        width: 40px;
    }

/* BTN's */
.btn-mod {
    width: 100%;
    padding: 1rem 2rem;
}

.btn-mod-login, #chart-btn {
    padding: 1.5rem;
    font-size: 20px;
}

.btn-mod-login {
    width: 40%;
    padding: 1.8rem;
    font-size: 20px;
}


/* Navbar */

    .hidde-navbar-section {
        align-self: center;
    }

    .navbar-div-ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul#ul-navbar {
        
        margin-right: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Li navbar */

    a.nav-link {
        text-align: center;
    }




        @media(max-width: 767px) {
            .navbar-div-ul {
                justify-content: center;
                padding: 1rem;
                background-color: #f5f5dc;
                border-radius: 0;
            }

            .btn-mod-login {
                width: 100%;
            }

            #chart-btn {
                width: 80%;
                text-align: center;
            }
        }

        @media(min-width: 768px) {
            nav.navbar {
                display: flex;
                justify-content: center;
            }

            div.ul-links {
                display: flex;
                justify-content: center;
            }
        }


/*separador Quienes somos*/

        #separador_del_medio {
            margin-top: 0;
        }

        #container {
            margin-top: 0;
            padding-bottom: 5rem;
        }

/* section de cards */

        #articulos {
            min-height: fit-content;
        }

/* cards */

    .card {
        width: 18rem;
        height: 40rem;
        margin: 1rem;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        border: 1px solid rgba(197, 190, 190, 0.671);
    }

    .card img {
        margin: 2rem 0rem;
        height: 150px;
        width: auto; 
    
    }

    .card-body {
        padding: 0;
        margin: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .card-title {
        height: 130px;
    }

    .card-text {
        font-size: 14px;
        font-weight: 400;
    }

    .card-price {
        font-size: 1.5rem;
        font-weight: bold;
    }


/* section map */

    .section-map, .section-text-map {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50rem;
        flex-direction: column;
    }

    .section-map iframe {
        height: 80%;
    }

    .p-section-map {
        margin-bottom: 5rem;
        font-size: 24px;
    }

    .bi-cart2 {
        font-size: 26px;
    }

    .btn {
        border: 1px solid rgba(178, 170, 170, 0.294);
    }

    li.nav-item {
        width: 100%;
        height: 100%;
    }

    li.nav-item:hover {
        background-color: #d6d0ad;
        border-radius: 0;
        transition: 0.3s;
    }

    #input-email-user, #input-email-user {
        width: 80%;
        height: 70px;
    }


    section#personal-empresa {
        background-color: #F5F5DC;
    }

    .card-personal {
        width: 500px;
        margin: auto;
        margin-top: 5rem;
        padding: 2rem;
        
        text-align: center;
    }

   

/********************************************************************************************************************/

/* Codigo wizzard register */

body {
    background: #eee
}


h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa
}

input.invalid {
    background-color: #ffdddd
}

.tab {
    display: none
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

#prevBtn {
    background-color: #bbbbbb
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    background-color: #4CAF50
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

#nextprevious {
    width: 100%;
}

#nextprevious button {
    width: 70px;
}

btn:active, btn-primary:active {
    --bs-btn-active-bg: #EEEEEE;
}